.presentation {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #e9ecef;
    /* background-color: #d2d2d2; */
    color: #272b30;

    opacity: 95%;
    margin: 5vh auto;
    max-width: 60vw;
    padding: 3%;

}

.presentation h3{
    font-family: 'EB Garamond',serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5vh;
}

.presentation p {
    font-style: normal;
    font-size: 1.1em;    
    flex-grow: 2;
}

#frase-efeito{
    font-style: normal;
    font-size: 1.3em;    
    margin: 3vh auto;
    text-align: center;
}

.phone-img {
    display: flex;
    justify-content: center;
    margin: 30px 15px;
    flex-grow: 1;
}

.phone-img img {
  max-width: 100%;
  width: auto;
  height: auto;
}