.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e9ecef;
  opacity: 90%;
  margin: auto;
  height: 30vh;
  padding: 5vh 5vw;
  border-radius: 10px;
}

@media (orientation: portrait) {
  .jumbotron {
    margin: auto 5vw;
  }

  .jumbotron .navlink {
    margin-top: 20px;
  }
}

.jumbotron h1 {
  margin-bottom: auto;
}

.jumbotron .navlink {
  background-color: var(--danger);
  color: var(--light);
  padding: 30px 55px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
}

.jumbotron .navlink:hover {
  color: var(--dangerdark);
  background-color: var(--secondary);
}

.jumbotron .navlink:active {
  background-color: var(--dark);
}