.list-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 10%;
  color: black;
  font-size: 18px;
}

.list-block:hover {
  background-color: var(--secondary) !important;
}

.list-block:active {
  background-color: var(--light) !important;
}

.block-title {
  margin-right: auto;
  max-width: 70%;
  max-height: 80%;
  overflow: hidden;
}

.block-img .emoji {
  margin-right: 15px;
  width: auto;
  font-size: 200%;
}

.list-block.current {
  background-color: azure;
}

.block-secondary {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}