.popup-new {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 40vh;
    background-color: transparent;
    opacity: 100;
}

.popup-background {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99998;
    background-color:  #111111;
    opacity: 30%;
}