.task-popup-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.task-popUP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width: 40vw;

    padding-bottom: 5vh;

    /* background-color: var(--info); */

    /* padding:     5vh; */
}

form {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-content: center;
    background-color: var(--secondary);


}

#list-description-title {
    margin-bottom: 0px;
}

#task-new-name{
    min-height: 3vh;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    outline: none;
}

#task-priority {
    border-radius: 6px;
    min-height: 3vh;
    background-color: var(--light);
    border-color: var(--dark);
    text-align: center;
    margin-left: 10px;

    outline: none;    
    cursor: pointer;
}

#date {
    border-radius: 6px;
    min-height: 3vh;
    background-color: var(--light);
    border-color: var(--dark);
    text-align: center;
    margin-left: 10px;

    outline: none;
    cursor: pointer;
}

::placeholder {
    color: var(--dark);
    background-color: var(--light);
}

textarea {
    background-color: var(--light);
    border-radius: 10px;

    outline: none;
}

.end-of-popUp{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    min-height: 4vh;
    right: 0;
    margin-right: 0;
}

#popupFinish {
    background-color: (--light);

    min-width: 8vw;
    width: 16vw;
    min-height: 4vh;
    max-height: 8vh;

    border-radius: 7px;
    border-color: var(--dark);

    text-align: center;
    outline: none;    
    cursor: pointer;

}



