.list-popUP {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    margin: auto;

    background-color: var(--info);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    background-color: var(--secondary);

    padding: 2.5%;
}

#list-new-name{
    min-height: 3vh;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

#list-color {
    border-radius: 6px;
    min-height: 3vh;
    background-color: var(--light);
    border-color: var(--dark);
    text-align: center;
    margin-left: 10px;
    outline: none;    
    cursor: pointer;
}

::placeholder {
    color: var(--dark);
    background-color: var(--light);
}

textarea {
    background-color: var(--light);
    border-radius: 10px;
}



.end-of-popUp{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    padding: 5px;
    min-height: 4vh;
}

#popupFinish {
    background-color: (--light);

    min-width: 8vw;
    width: 16vw;
    min-height: 4vh;
    max-height: 8vh;

    border-radius: 7px;
    border-color: var(--dark);

    text-align: center;
    outline: none;    
    cursor: pointer;

}



