.list-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--secondary);
    justify-content: center;
    width: 100%;
}

.title {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: large;
    color: var(--dark);    
}

.title-buttons {
    justify-content: flex-end;
}

.title-content {
    margin:10px 5px;
    background-color: var(--light);
    border-radius: 5px;
    min-width: 7vw;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
}

.plus, .undo, .minus, .search {
    border-radius: 5px;
    border: none;
    height: 25px;
    margin: 5px;
    width: 2vw;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
}

.plus {
    background-color: var(--success);
}
.plus:hover {
    background-color: var(--light);

}

.undo {
    background-color: var(--warning);
}
.undo:hover {
    background-color: var(--light);

}

.minus{
    background-color: var(--dangerdark);
}
.minus:hover {
    background-color: var(--light);

}

.search {
    width: 3vw;
    background-color: var(--info);

}
.search:hover {
    background-color: var(--light);
}

.list-header-body{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}


#task-input-header {
    height: 25px;
    width: 70%;
    border: none;
    margin: 0 5px;
    padding-left: 10px;
    color: var(--dark);
    justify-self: start;

}
::placeholder{
    padding: 5px;
    color: var(--light); 
}
