

.home-container {
  background-image: url('../../imgs/background-landing.jpg');
  background-size: cover;
  height: 100vh;

  display: flex;
}



/* .action-button {
  margin: auto;
  background-color: var(--danger); 
  border-color: var(--dark);
  color: var(--dark);

  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-size: 2em;
  

  border-radius: 15px;
  width: 180px;
  height: 90px;
} */

.advantages{
  display: flex;

  justify-self: start;
  align-items: center;

  background-color: #e9ecef;

}

@media only screen and (max-width: 800px) {
  .advantages {
    flex-direction: column;
  }

}