nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  padding: 0px;
  background: radial-gradient(circle, rgba(121,129,135,1) 20%, rgba(88,95,105,1) 90%); 
  opacity: 90%;
  top: 0px;
  z-index: 9999;
}

.nav-item {
  border: 0px;
  background-color: transparent;
  color: var(--light);
  font-size: 18px;
  user-select: none;
}

.nav-item:hover {
  color: var(--dangerdark);
  background-color: var(--light);
}

.nav-item:active {
  background-color: var(--secondary);
}

.margin-left {
  margin-left: auto;
}

.call-to-action {
  padding-right: 20px;
  margin-right: 0px;
  background-color: var(--danger);
}

.nav-item.call-to-action:active {
  background-color: #3a3f44 ; 
}

.fa-list-alt {
  padding: 10px 10px;
  margin: 0 10px;
}

.logo {
  display: flex;
  color: var(--danger);
  padding-right: 10px;
}

nav p {
  margin: 0 0px;
  align-self: center;
  font-size: 24px;
}

@media only screen and  (max-width: 720px) {
  nav p {
    display: none;
  }
}