.pag-footer {
    background-color: #ee5f5b;

    display: flex;
    flex-wrap: wrap;   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.web-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.web-links img {
    flex-grow: 1; 
    padding: 20px;
    min-width: 50px;
    width: 6vw;
    max-width: 80px;
    max-height: auto;
}

.footer-description pre  {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #272b30;

  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-size: x-large;
  margin-top: 10px;
}

.h4 {
  margin: 0;
}