:root {
  --primary: #3A3F44;
  --secondary: #7a8288;
  --success: #62c462;
  --info: #5bc0de;
  --warning: #f89406;
  --danger: #ee5f5b;
  --dangerdark: #9c0d38;
  --light: #e9ecef;
  --dark: #272b30;
/* Adições Possíveis 
   Cinza Escuro Fosco: #3a3f44
   Cinza Claro Fosco: #4d5359
*/
}

html, body {
  height: 100vh;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
