.card {
  display: grid;
  grid-template-rows: 7fr 3fr;
  grid-template-columns: 2fr 7fr;

  background-color: var(--light);
  border-radius: 25px;
  box-shadow: 0 0 3px 0 black;

  margin: 15px;
  padding: 15px;
  max-width: 330px;
}

.card-text {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  border-bottom: 2px black solid;
  margin-bottom: 30px;
}

.card p {
  margin: 0px 0px;
  font-size: 16px;
  
}
.card img {
  width: 60px;
  border-radius: 30px;
}

p.person-bg {
  font-size: 12px;
}

.fa-star {
  color: gold;
}