.app-container {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 25% 35% 40%;
    justify-content: stretch;
    align-content: stretch;
    height: 85vh;
    margin: 0 5vw;

    padding-top: 15vh;
    padding-bottom: 5vh;
    text-align: start;
}

.section {
  overflow-y: scroll;
  scrollbar-width: none;
  grid-row-start: 2;  
}

.section::-webkit-scrollbar{ 
  width: 0px;
}

.lists {
  background-color: var(--dark);
  color: var(--light);
  border: 2px solid black;
}

.options {
  display: flex;
  justify-content: center;
}

.section, .options {
  opacity: 98%;
  margin-top: none;
}

.tasks, .content {
  background-color: var(--light);
  color: var(--dark);
  border: 2px solid black;
}

.content.section {
  padding: 3rem;
  white-space: pre-line;
}

.finished {
    color: var(--dark);
    border: none;
}

.finished:focus {
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

