.task-header {
    display: flex;
    flex-direction: column;
    background-color:  var(--secondary);
    color: var(--dark);
    width: 100%;
    justify-content: space-between ;
}

.task-title{
    flex-wrap: wrap;
    margin-top: 10px 0;
}

.task-title-content {
    flex-wrap: wrap;
    text-align: start;
    text-indent: 1.5em;
    margin-top: 10px;

    margin-bottom: 0px;
}

.task-header-body{
    display: flex;
    margin: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.task-date {
    display: flex;
    align-items: center;

    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: large;
    text-align: start;
    padding-left: 10px;
    
    background-color: var(--light);
    border-radius: 5px;
    height: 4vh;
    width: 10vw;
    margin: 0px;
    min-width: 150px;
    max-height: 30px;
}

.edit {
    /* flex-grow: 1; */

    border: none;
    border-radius: 5px;

    background-color:  #01FF70;    
    height: 25px;
    margin: 10px;

    font-weight: 800;
    font-size: large;
    text-align: center;

    width: 10vw;
    min-width: 70px;
    height: 4vh;
    max-height: 30px;

}

.edit:hover {
    background-color: var(--light);
}
