.ratings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--primary);
  padding: 0 5vw;
  margin: 0;
}

@media only screen and (max-width: 862px) {
  .card {
    min-width: 80vw;
  }
}